/* Theme: light */

.apifs-wrapper .apifs-button.apifs-button-theme-light {
	background-color: rgba(240, 240, 240, 0.8);
	}

.apifs-wrapper .apifs-button.apifs-button-theme-light.apifs-button-disabled {
	opacity: 0.5;
	background-color: rgba(245, 245, 245, 0.5) !important;
	}

.apifs-wrapper .apifs-button.apifs-button-theme-light:hover {
	background-color: rgba(255, 255, 255, 1.0);
	}

.apifs-wrapper .apifs-close-button.apifs-button-theme-light {
	background-position: -42px 18px;
	}

.apifs-wrapper .apifs-next-button.apifs-button-theme-light {
	background-position: -40px -44px;
	}

.apifs-wrapper .apifs-previous-button.apifs-button-theme-light {
	background-position: -43px -104px;
	}

.apifs-wrapper .apifs-download-button.apifs-button-theme-light {
	background-position: -39px -161px;
	}


@media screen and (max-width: 800px) {

	.apifs-wrapper .apifs-close-button.apifs-button-theme-light {
		background-position: -34px 15px;
		}

	.apifs-wrapper .apifs-next-button.apifs-button-theme-light {
		background-position: -33px -37px;
		}

	.apifs-wrapper .apifs-previous-button.apifs-button-theme-light {
		background-position: -36px -86px;
		}

	.apifs-wrapper .apifs-download-button.apifs-button-theme-light {
		background-position: -32px -131px;
		}
}



/* Theme: contrast */

.apifs-wrapper .apifs-button.apifs-button-theme-contrast {
	background-color: rgba(250, 250, 250, 0.8);
	-webkit-transition: background-color 0.2s, box-shadow 0.2s;
	   -moz-transition: background-color 0.2s, box-shadow 0.2s;
	    -ms-transition: background-color 0.2s, box-shadow 0.2s;
	     -o-transition: background-color 0.2s, box-shadow 0.2s;
	        transition: background-color 0.2s, box-shadow 0.2s;
	}

.apifs-wrapper .apifs-button.apifs-button-theme-contrast.apifs-button-disabled {
	opacity: 0.5;
	background-color: rgba(200, 200, 200, 0.5) !important;
	box-shadow: none !important;
	}

.apifs-wrapper .apifs-button.apifs-button-theme-contrast:hover {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
	}

.apifs-wrapper .apifs-close-button.apifs-button-theme-contrast {
	background-position: 18px 18px;
	}

.apifs-wrapper .apifs-next-button.apifs-button-theme-contrast {
	background-position: 20px -44px;
	}

.apifs-wrapper .apifs-previous-button.apifs-button-theme-contrast {
	background-position: 17px -104px;
	}

.apifs-wrapper .apifs-download-button.apifs-button-theme-contrast {
	background-position: 21px -161px;
	}


@media screen and (max-width: 800px) {

	.apifs-wrapper .apifs-close-button.apifs-button-theme-contrast {
		background-position: 15px 15px;
		}

	.apifs-wrapper .apifs-next-button.apifs-button-theme-contrast {
		background-position: 17px -37px;
		}

	.apifs-wrapper .apifs-previous-button.apifs-button-theme-contrast {
		background-position: 14px -86px;
		}

	.apifs-wrapper .apifs-download-button.apifs-button-theme-contrast {
		background-position: 18px -131px;
		}
}



/* Theme: dark */

.apifs-wrapper .apifs-button.apifs-button-theme-dark {
	background-color: rgba(20, 20, 20, 0.8);
	}

.apifs-wrapper .apifs-button.apifs-button-theme-dark.apifs-button-disabled {
	opacity: 0.5;
	background-color: rgba(30, 30, 30, 0.5) !important;
	}

.apifs-wrapper .apifs-button.apifs-button-theme-dark:hover {
	background-color: rgba(10, 10, 10, 0.9);
	}

.apifs-wrapper .apifs-close-button.apifs-button-theme-dark {
	background-position: -102px 18px;
	}

.apifs-wrapper .apifs-next-button.apifs-button-theme-dark {
	background-position: -100px -44px;
	}

.apifs-wrapper .apifs-previous-button.apifs-button-theme-dark {
	background-position: -103px -104px;
	}

.apifs-wrapper .apifs-download-button.apifs-button-theme-dark {
	background-position: -99px -161px;
	}


@media screen and (max-width: 800px) {

	.apifs-wrapper .apifs-close-button.apifs-button-theme-dark {
		background-position: -84px 15px;
		}

	.apifs-wrapper .apifs-next-button.apifs-button-theme-dark {
		background-position: -82px -37px;
		}

	.apifs-wrapper .apifs-previous-button.apifs-button-theme-dark {
		background-position: -86px -86px;
		}

	.apifs-wrapper .apifs-download-button.apifs-button-theme-dark {
		background-position: -82px -131px;
		}
}
