@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
	font: 12pt/18pt 'Roboto Condensed', sans-serif;
	font-weight: 400;
	background-color: #eee;
	}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	width: 0;
	line-height: 0;
	font-size: 0;
	}

.controls-container {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	}

	.controls-container header {
		font-weight: 700;
		font-size: 15pt;
		background-color: #9b00ba;
		border-top: 15px solid #73008c;
		padding: 15px 0;
		color: #fff;
		}

	.controls-container .options {
		padding: 40px 0;
		background-color: #f7f7f7;
		border-top: 1px solid #f0f0f0;
		border-bottom: 1px solid #fcfcfc;
		}

	.controls-container input[type="button"] {
		background-color: #de004b;
		background-color: #007BA4;
		color: #fff;
		text-transform: uppercase;
		border: none;
		padding: 10px 30px;
		border-radius: 3px;
		cursor: pointer;
		}

	.controls-container input[type="button"]:hover {
		background-color: #9e1153;
		background-color: #00A2C8;
		}

	.controls-container footer {
		font-weight: 400;
		font-size: 10pt;
		text-align: center;
		background-color: #fff;
		padding: 15px 0;
		}

		.controls-container footer a {
			color: #ccc;
			text-decoration: none;
			padding: 10px 17px;
			}

		.controls-container footer a:hover {
			color: #777;
			text-decoration: underline;
			}


.apifs-wrapper .apiz-loading-animation-image {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 200px;
	margin: -100px 0 0 -100px;
	background-size: 120px 120px;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 100px;
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
	}


@media screen and (max-width: 600px) {

	.apifs-wrapper .apiz-loading-animation-image {
		width: 140px;
		height: 140px;
		margin: -70px 0 0 -70px;
		background-size: 80px 80px;
		border-radius: 70px;
		}
}

@media screen and (max-width: 480px) {

	.controls-container {
		width: 100%;
		margin: 0;
		text-align: center;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
		}
}

@media screen and (max-width: 400px) {

	.apifs-wrapper .apiz-loading-animation-image {
		width: 100px;
		height: 100px;
		margin: -50px 0 0 -50px;
		background-size: 60px 60px;
		border-radius: 50px;
		}
}
